n8nManager/templates/daily_report.json
{
    "name": "BACH Daily Report",
    "nodes": [
        {
            "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 9 * * *"}]}},
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [250, 300],
            "name": "Taeglich 9 Uhr"
        },
        {
            "parameters": {"url": "http://localhost:8000/api/status", "method": "GET"},
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [500, 300],
            "name": "BACH Status abrufen"
        },
        {
            "parameters": {"jsCode": "const status = $input.first().json;\nconst report = [\n  `BACH Daily Report - ${new Date().toLocaleDateString('de-DE')}`,\n  `Status: ${status.status || 'OK'}`,\n  `Handler: ${status.handlers || '-'}`,\n  `Uptime: ${status.uptime || '-'}`,\n].join('\\n');\nreturn [{json: {report, subject: 'BACH Daily Report'}}];"},
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [750, 300],
            "name": "Report erstellen"
        },
        {
            "parameters": {"fromEmail": "{{SENDER_EMAIL}}", "toEmail": "{{RECIPIENT_EMAIL}}", "subject": "={{ $json.subject }}", "text": "={{ $json.report }}"},
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [1000, 300],
            "name": "Report senden"
        }
    ],
    "connections": {
        "Taeglich 9 Uhr": {"main": [[{"node": "BACH Status abrufen", "type": "main", "index": 0}]]},
        "BACH Status abrufen": {"main": [[{"node": "Report erstellen", "type": "main", "index": 0}]]},
        "Report erstellen": {"main": [[{"node": "Report senden", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "active": false,
    "tags": [{"name": "BACH"}, {"name": "Report"}]
}
