n8nManager/templates/rechnungsimport.json
{
    "name": "BACH Rechnungsimport",
    "nodes": [
        {
            "parameters": {"path": "/bach/rechnung", "httpMethod": "POST"},
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [250, 300],
            "name": "Webhook Eingang"
        },
        {
            "parameters": {"jsCode": "// PDF aus Anhang extrahieren\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    filename: item.json.filename || 'rechnung.pdf',\n    data: item.json.data,\n    timestamp: new Date().toISOString()\n  }\n}));"},
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [500, 300],
            "name": "PDF Verarbeitung"
        },
        {
            "parameters": {"url": "http://localhost:8000/api/webhook/invoice", "method": "POST", "sendBody": true, "bodyParameters": {"parameters": [{"name": "=filename", "value": "={{ $json.filename }}"}, {"name": "=data", "value": "={{ $json.data }}"}]}},
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [750, 300],
            "name": "An BACH senden"
        }
    ],
    "connections": {
        "Webhook Eingang": {"main": [[{"node": "PDF Verarbeitung", "type": "main", "index": 0}]]},
        "PDF Verarbeitung": {"main": [[{"node": "An BACH senden", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "active": false,
    "tags": [{"name": "BACH"}, {"name": "Rechnungen"}]
}
